// shame/temp; mostly handled via theme.js/app.js and component level styling
// forgive me

main {
  // display: flex;
  // flex-flow: column;
  margin: auto;
  padding: 3rem;
  max-width: 56rem;
  min-height: 100vh;
}